<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>LibU</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

        <%= stylesheet_link_tag "/home/georgia/team-cool/app/assets/stylesheets/about_privacy_contact.scss" %>
        
    </head>

    <body>

        <h2>Contact Us</h2>

        <%=render 'nav_top'%>

        <%= render 'form', question: @question %>

        <div class="backbutton">
            <%= button_to 'Back', questions_path %>
        </div>
    </body>

<%=render 'nav_bottom'%>
