<%= form_with model: test, local: true do |form| %>
    <div>
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
    </div>

    <div>
        <%= form.label :surname %>
        <%= form.text_area :surname %>
    </div>

    <% @gender.each do |option| %>
        <div>
            <%= form.radio_button :gender, option %>
            <%= form.label "gender_#{option}".to_sym, option %>
        </div>
    <% end %>
    
    <div>
        <%= form.label :date_of_birth %>
        <%= form.date_field :date_of_birth %>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.email_field :email %>
    </div>

    <div>
        <%= form.label :university %>
        <%= form.text_field :university %>
    </div>

    <div>
        <%= form.label :picture %>
        <%= form.file_field :picture, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
    </div>


    <%= form.submit  %>


<% end %>