<%= render "devise/shared/links" %>

<div class="docstitle">
  <h2>Forgot your password?</h2>
</div>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="resetformsflex">
    <div class = "resetforms">

      <div class="resetemail">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="resetsubmit">
        <%= f.submit "Reset my password" %>
      </div>
    </div>
  </div>
<% end %>


