<!DOCTYPE html>
  <html>
    <head>
      <html lang="en">
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>LibU</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

          <%= stylesheet_link_tag "/home/georgia/team-cool/app/assets/stylesheets/docs.scss" %>
                
  </head>
<body>
 
  <div class="docstitle">
  <h2><%= Subject.find(params[:subject]).name %></h2>
  </div>

  <h3><%= @document_subjects.name %></h3>
</div>



  <% @document_subjects.documents.each do |document| %>
    <div class="listings">

      <div class ="doctitle">
        <h3>Author</h3>
        <p><%= document.user.username %></p>
      </div>

      <div class = "doctitle">
        <h5>Title</h5>
        <p><%= document.title %></p>
      </div>

      <div class = "docdescribe">
      <h5>Description</h5>
        <p><%= truncate(document.description, length:100) %></p>
      </div>

      <div class = "docsubject">
        <h5>Subject</h5>
        <p><% document.subjects.each do |sub| %>
          <li><%= sub.name %></li>
        <% end %></p>
      </div>

      <div class="doctype">
        <h5>Document Type</h5>
        <p><%= document.doc_type %></p>
      </div>

      <div class = "docrating">
        <h5>Rating</h5>
        <p><%= number_with_precision document.ratings.average(:score), :precision => 1 %>
        (<%= document.ratings.count %>)
        </p>
      </div>

      <div class = "doclinks">
        <ul>
          <li><%= link_to "Show", document_path(document.id) %></li>
        <% if current_user && (current_user == document.user || current_user.admin) %>
          <li><%= link_to "Edit", edit_document_path(document.id) %></li>
          <li><%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: "Are you sure?"} %></li>
        
        <% end %>
        </ul>
      </div>

    </div>
  <% end %>


</body>

