<!DOCTYPE html>
  <html>
    <head>
      <html lang="en">
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>LibU</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <link rel="stylesheet" type="text/css" href="styles_docs.css">
          <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
                
  </head>
<body>
  <%=render 'nav_top' %>
 
  <div class="docstitle">

  <h3> Your search <br> <br> <br> <br> <br>results </h3>
</div>


<div class="searchbar">
<%= search_form_for @q do |f| %>
  <div class="wrap">
  <div class="search">
  <%= f.search_field :title_cont, class: "searchTerm", placeholder: "What are you looking for?" %>
  <%= f.submit "S" %>
  </div>
  </div>
</div>
  <% end %>


<% if !params[:q].nil? %>
  <% if params[:q][:title_cont] != "" %>
  <div class="results">
  <h2>Results</h2>
    <% if @document.count <= 0 %>
      <p>No results</p>
    <% else %>
      <% @document.each do |doc|%>
      <p><%= doc.title %></p>
      <p><%= doc.description %></p>
      <p>
        <% doc.subjects.each do |sub| %>
          <li><%= sub.name %></li>
        <% end %>
      </p>
      <p><%= doc.doc_type %></p>
      <p> Rating
        <%= number_with_precision doc.ratings.average(:score), :precision => 1 %>
        (<%= doc.ratings.count %>)
      </p>
      <%= link_to "show", document_path(doc.id) %>
      <p>---------------------------</p>  
      <% end %>
    <% end %>
  </div>
  <%end%>
<% end %>




  <% @documents.each do |document| %>
    <div class="listings">

      <div class = "doctitle">
        <h3>Title</h3>
        <p><%= document.title %></p>
      </div>

      <div class = "docdescribe">
      <h3>Description</h3>
        <p><%= truncate(document.description, length:100) %></p>
      </div>

      <div class = "docsubject">
        <h3>Subject</h3>
        <p><% document.subjects.each do |sub| %>
        <li><%= sub.name %></li>
      </div>
      <% end %></p>


      <div class="doctype">
        <h3>Document Type</h3>
        <p><%= document.doc_type %></p>
      </div>

      <div class = "docrating">
        <h3> Rating </h3>
        <%= number_with_precision document.ratings.average(:score), :precision => 1 %>
        (<%= document.ratings.count %>)
        </p>
      </div>

      <div class = "doclinks">
        <ul>
          <li><%= link_to "Edit", edit_document_path(document.id) %></li>
          <li><%= link_to "Show", document_path(document.id) %></li>
          <li><%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: "Are you sure?"} %></li>
        </ul>
      </div>

    </div>
  <% end %>

  <%=render 'nav_bottom' %>

