<<<<<<< HEAD
<!DOCTYPE html>
  <html>
    <head>
      <html lang="en">
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>LibU</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!--LINK ONCE INSIDE RAILS-->
          <link rel="stylesheet" type="text/css" href="styles_docs.css">
          <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
                
  </head>                       
=======
<%= search_form_for @q do |f| %>
  <div class="wrap">
  <div class="search">
    <%= f.search_field :title_cont, class: "searchTerm", placeholder: "What are you looking for?" %>
    <%= f.submit "S" %>
  </div>
  </div>
<% end %>

<% if !params[:q].nil? %>
  <% if params[:q][:title_cont] != "" %>
  <div class="results">
    <% @document.each do |attr|%>
    <p><%= attr.title %></p>
    <p><%= attr.description %></p>
    <p><%= attr.doc_type %></p>
    <% end %>
  </div>
  <% end %>
<% end %>


>>>>>>> 0227d8c7c50fb0a51db450fd666fe37adf29f560


<% @documents.each do |document| %>
  <p><%= document.title %></p>
  <p><%= truncate(document.description, length:100) %></p>
  <p><% document.subjects.each do |sub| %>
    <li><%= sub.name %></li>
  <% end %></p>
  <p><%= document.doc_type %></p>
  <p> Rating
    <%= document.ratings.average(:score) %>
    (<%= document.ratings.count %>)
  </p>
  <%= link_to "edit", edit_document_path(document.id) %>
  <%= link_to "show", document_path(document.id) %>
  <%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: "Are you sure?"} %>
  <p>---------------------------</p>  
<% end %>