<!DOCTYPE html>
  <html>
    <head>
      <html lang="en">
        <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>LibU</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!--LINK ONCE INSIDE RAILS-->
          <link rel="stylesheet" type="text/css" href="styles_docs.css">
          <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
                
  </head>                       


<% @documents.each do |document| %>
  <p><%= document.title %></p>
  <p><%= document.description %></p>
  <p><% document.subjects.each do |sub| %>
    <li><%= sub.name %></li>
  <% end %></p>
  <p><%= document.doc_type %></p>
  <p> Rating
    <%= document.ratings.average(:score) %>
    (<%= document.ratings.count %>)
  </p>
  <%= link_to "edit", edit_document_path(document.id) %>
  <%= link_to "show", document_path(document.id) %>
  <%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: "Are you sure?"} %>
  <p>---------------------------</p>  
<% end %>