<% if !params[:q].nil? %>
  <% if params[:q][:title_cont] != "" %>
  <div class="results">
  <h2>Results</h2>
    <% if @document.count <= 0 %>
      <p>No results</p>
    <% else %>
      <% @document.each do |doc|%>
      <p><%= doc.title %></p>
      <p><%= doc.description %></p>
      <p>
        <% doc.subjects.each do |sub| %>
          <li><%= sub.name %></li>
        <% end %>
      </p>
      <p><%= doc.doc_type %></p>
      <p> Rating
        <%= number_with_precision doc.ratings.average(:score), :precision => 1 %>
        (<%= doc.ratings.count %>)
      </p>
      <%= link_to "show", document_path(doc.id) %>
      <p>---------------------------</p>  
      <% end %>
    <% end %>
  </div>
  <% end %>
<% end %>


<h2>Index</h2>
<% @documents.each do |document| %>
  <p><%= document.title %></p>
  <p><%= truncate(document.description, length:100) %></p>
  <p><% document.subjects.each do |sub| %>
    <li><%= sub.name %></li>
  <% end %></p>
  <p><%= document.doc_type %></p>
  <p> Rating
    <%= number_with_precision document.ratings.average(:score), :precision => 1 %>
    (<%= document.ratings.count %>)
  </p>
  <%= link_to "edit", edit_document_path(document.id) %>
  <%= link_to "show", document_path(document.id) %>
  <%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: "Are you sure?"} %>
  <p>---------------------------</p>  
<% end %>