<% if !params[:q].nil? %>
  <% if params[:q][:title_cont] != "" %>
  <div class="results">
    <% @document.each do |doc|%>
    <p><%= doc.title %></p>
    <p><%= doc.description %></p>
    <p>
      <% doc.subjects.each do |sub| %>
        <li><%= sub.name %></li>
      <% end %>
    </p>
    <p><%= doc.doc_type %></p>
    <p> Rating
      <%= number_with_precision doc.ratings.average(:score), :precision => 1 %>
      (<%= doc.ratings.count %>)
    </p>
    <%= link_to "edit", edit_document_path(doc.id) %>
    <%= link_to "show", document_path(doc.id) %>
    <%= link_to 'Delete', document_path(doc), method: :delete, data: {confirm: "Are you sure?"} %>
    <p>---------------------------</p>  
    <% end %>
  </div>
  <% end %>
<% end %>