<%= search_form_for @q do |f| %>

  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>

  <%= f.submit %>
<% end %>

<% @document.each do |x|%>
<p><%= x.title %></p>
<% end %>




<% @documents.each do |document| %>
  <p><%= document.title %></p>
  <p><%= document.description %></p>
  <p><% document.subjects.each do |sub| %>
    <li><%= sub.name %></li>
  <% end %></p>
  <p><%= document.doc_type %></p>
  <p> Rating
    <%= number_with_precision document.ratings.average(:score), :precision => 1 %>
    (<%= document.ratings.count %>)
  </p>
  <%= link_to "edit", edit_document_path(document.id) %>
  <%= link_to "show", document_path(document.id) %>
  <%= link_to 'Delete', document_path(document), method: :delete, data: {confirm: "Are you sure?"} %>
  <p>---------------------------</p>  
<% end %>