<% if @document.errors.any? %>
  <% @document.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>


<%= form_with model: @document, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.collection_check_boxes :subject_ids, Subject.all, :id, :name do |sub| %>
    <% sub.label(class: "checkbox-inline input_checkbox") {sub.check_box(class: "checkbox") + sub.text} %>
    <% end %>
  </div>
  <div>
    <% @types.each do |option| %>
      <div>
        <%= form.radio_button :doc_type, option %>
        <%= form.label "doc_type_#{option}".to_sym, option %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.label :document %>
    <%= form.file_field :file, accept: "application/pdf" %>
    <p>(PDF only)</p>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

 