<div class="docstitle">
  <h2><%= @document.title %></h2>
</div>

<div class="docshow">
  <%= image_tag("book_sample.png") %>
</div>

<div class ="documentinfo">

  <div class="bookmark">
    <span class="btn btn-info btn-lg">
      <%= link_to "Bookmark", document_bookmarks_path(@document.id), method: :post, :class => "glyphicon glyphicon-bookmark" %>
    </span>
  </div>

  <div class="info-inner">
    <h4>Author</h4>
    <p><%= @document.user.username %></p>
  </div>

  <div class="info-inner">
    <h4>Description</h4>
    <p><%= @document.description %></p>
  </div>

  <div class="info-inner">
    <h4>Subject</h4>
    <ul>
      <% @document.subjects.each do |sub| %>
        <li><%= sub.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="info-inner">
    <h4>Type</h4>
    <p><%= @document.doc_type %></p>
    <% if @document.file.attached? %>
      <h5><%= link_to "Download", @document.file %></h5>
    <% else %>
      <p>Download link not available</p>
    <% end %>
  </div>

  <div class="info-inner">
    <h4> Current rating </h4>
    <%= number_with_precision @document.ratings.average(:score), :precision => 1 %>
    (<%= @document.ratings.count %>)

    <h5> Leave your rating </h5>
    <form action="<%= document_ratings_path(@document) %>" method="POST">
      <% if @rated %>
        <input type="hidden" name="_method" value="put" />
      <% end %>
      <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
      <select name="score">
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
      </select>
      <input type="submit" value="Rate" />
    </form>
  </div>


  <div class="comments">
    <h4>Comments:</h4>
      <% @document.comments.each do |comment| %>
        <ul>
          <li><%= comment.user.username %> says</li>
          <li><%= comment.body %></li>
          <li>created <%= time_ago_in_words(comment.created_at) %> ago</li>
          <% if current_user && current_user.admin %>
            <li><%= link_to "Delete", delete_comment_path(comment.id, document_id: params[:id]), method: :delete, data: {confirm: "Are you sure?"} %></li>
          <% end %>
        </ul>
      <% end %>

    <%= form_with model: @document, url: document_comments_path(@document), method: "post", local: true do |form| %>
      <div>
        <%= form.label :body, "Leave a comment:" %>
        <%= form.text_area :body %>
      </div>

      <div>
        <%= form.submit "Submit" %>
      </div>
    <% end %>
  </div>

  <div class = "links">
    <ul>
      <li><%= link_to "Back to Search Results", session[:search_results] %></li> <br> <br>
      <% if current_user && (current_user == @document.user || current_user.admin) %>
        <li><%= link_to "Edit", edit_document_path(@document.id) %></li>
        <li><%= link_to 'Delete', document_path(@document), method: :delete, data: {confirm: "Are you sure?"} %></li>
      <% end %>
    </ul>
  </div>

</div>
