<p><%= @document.title %></p>
<p><%= @document.description %></p>
<p><% @document.subjects.each do |sub| %>
  <li><%= sub.name %></li>
<% end %></p>
<p><%= @document.doc_type %></p>
<p> Rating
  <%= number_with_precision @document.ratings.average(:score), :precision => 1 %>
  (<%= @document.ratings.count %>)
</p>
<form action="<%= document_ratings_path(@document) %>" method="POST">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <select name="score">
    <option value = "1">1</option>
    <option value = "2">2</option>
    <option value = "3">3</option>
    <option value = "4">4</option>
    <option value = "5">5</option>
  </select>
  <input type="submit" value="Rate" />
</form>
<%= link_to "edit", edit_document_path(@document.id) %>
<%= link_to "back to documents index", documents_path %>
<%= link_to 'Delete', document_path(@document), method: :delete, data: {confirm: "Are you sure?"} %>

<p><% @document.comments.each do |comment| %>
  <li>User <%= comment.user_id %></li>
  <li><%= comment.body %></li>
  <li>created <%= time_ago_in_words(comment.created_at) %></li>
<% end %></p>

<%= form_with model: @document, url: document_comments_path(@document), method: "post", local: true do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Bookmark", document_bookmarks_path(@document.id), method: :post %>