<h1>Subscribe</h1>
  <p>Chosen plan: <strong><%= params[:plan] %>
    <%= form_tag subscriptions_path do |form| %>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      
    <%= hidden_field_tag :plan_id, params[:plan_id] %>
    <button>Payment</button>
  <% end %>
  
  
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Subscription"
          data-amount="500"
          data-locale="auto"></script>

  
<% end %>