<div class="adminPage">
<div class="docstitle">
<h1>Admin Dashboard</h1>
</div>

<h2>Users:</h2>
<div class="scrollbox">
  <% @users.each do |user| %>
    <li>
      ID<%= user.id %> -
      <%= user.first_name %>
      <%= user.surname %>
      <%= link_to "Edit", edit_user_registration_path(user.id) %> |
      <%= link_to "Delete", user_path(user.id), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
</div>

<h3>Documents:</h3>
<div class="scrollbox">
  <% @documents.each do |doc| %>
    <li>
      ID<%= doc.id %> -
      <%= doc.title %>
      <%= link_to "Edit", edit_document_path(doc.id) %> |
      <%= link_to "Delete", document_path(doc.id), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
</div>

</div>