<div class="adminPage">

<h1>Admin Dashboard</h1>

<h3>Users:</h3>
<div class="scrollbox">
  <ul>
    <% @users.each do |user| %>
      <li>
        ID<%= user.id %> -
        <%= user.first_name %>
        <%= user.surname %> -
        <%= link_to "Edit", edit_user_registration_path(user.id) %> |
        <%= link_to "Delete", user_path(user.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>
</div>

<h3>Documents:</h3>
<div class="scrollbox">
  <ul>
    <% @documents.each do |doc| %>
      <li>
        ID<%= doc.id %> -
        <%= doc.title %> -
        <%= link_to "Show", document_path(doc.id) %> |
        <%= link_to "Edit", edit_document_path(doc.id) %> |
        <%= link_to "Delete", document_path(doc.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>
</div>

<h3>Subjects:</h3>
<div class="scrollbox">
<p><%= link_to "Add", new_subject_path %></p>
  <ul>
    <% @subjects.each do |subject| %>
      <li>
        <%= subject.name %> -
        <%= link_to "Edit", edit_subject_path(subject.id) %> |
        <%= link_to "Delete", subject_path(subject.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>
</div>

<h3>Questions:</h3>
<div class="scrollbox">
  <ul>
    <% @questions.each do |question| %>
      <li>
        ID<%= question.id %> -
        <%= question.reason %> -
        <%= question.content %> -
        <%= link_to "Answer", new_question_answer_path(question.id) %> |
        <%= link_to "Show", question_path(question.id) %> |
        <%= link_to "Edit", edit_question_path(question.id) %> |
        <%= link_to "Delete", question_path(question.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>
</div>


<h3>Comments:</h3>
<div class="scrollbox">
  <ul>
    <% @comments.each do |comment| %>
      <li>
        ID<%= comment.id %> -
        Doc <%= comment.document_id %> -
        <%= comment.body %> -
        <%= link_to "Delete", delete_comment_path(comment.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>
</div>

</div>